body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
    color: whitesmoke
}

.aboutme {
    height: 50vh;
    /* border: 2px solid black; */
    border-bottom: 2px solid grey;
}

.picdesp {
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid rgb(216, 216, 216);
}

h3 {
    font-size: 24px;
    color: orange;

}

img {
    width: auto;
    height: 35vh;
    border-radius: 50%;
}

.picdesp p {
    margin-left: 30px;
}

.exp {
    border: 2px solid rgb(155, 155, 155);
    padding: 20px;
}

.exp h5 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 20px;
}
.exp h6 {
    margin-top: 0;
    font-size: 16px;
    color: grey;
}

li {
    font-size: 18px;
    line-height: 1.5rem;
}

p {
    font-size: 18px;
    line-height: 1.5rem;
}